{% extends 'base.html' %}


{% block css %}
    <style>
    div.sweet-alert h2{
            padding-top: 15px;
        }
    </style>
{% endblock %}

{% block content %}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="">商品名</label>
                    <select name="name" id="name" class="form-control">
                        <option value=""><--商品名--></option>
                        {% for com in commodity_query %}
                            <option value="{{ com.pk }}">{{ com.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="">数量</label>
                    <input type="text" id="count" name="count" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="">生产厂家</label>
                    <select name="factory" id="factory" class="form-control">
                        <option value="" disabled selected><--生产厂家--></option>
                        {% for factory in factory_query %}
                            <option value="{{ factory.pk }}">{{ factory.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="">类型</label>
                    <select name="type" id="type" class="form-control">
                        <option value="1">入库</option>
                        <option value="0">出库</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="">单位</label>
                    <input type="text" name="unit" class="form-control" id="unit">
                </div>
                <div class="form-group col-md-3">
                    <label for="">负责人</label>
                    <input type="text" name="person" class="form-control" id="person">
                </div>
                <div class="form-group col-md-3">
                    <label for="">日期</label>
                    <input type="date" name="date" class="form-control" id="date">
                </div>
                <br>
                <div class="form-group col-md-3">
                    <button class="btn btn-danger col-md-offset-4" id="submit">提交</button>
                </div>
            </div>
          </div>
        </div>
{% endblock %}


{% block script %}
    <script>
        $('#submit').click(function (){
            swal({
              title: "提示!",
              text: "提交后无法修改!",
              type: "warning",
              showCancelButton: true,
              confirmButtonClass: "btn-danger",
              confirmButtonText: "提交",
              cancelButtonText: "取消",
              closeOnConfirm: false,
              closeOnCancel: false,
            },
            function(isConfirm) {
              if (isConfirm) {
                  $.ajax({
                      url:'/edit/message/',
                      type:'post',
                      data:{
                          'name':$('#name').val(),
                          'count':$('#count').val(),
                          'factory':$('#factory').val(),
                          'type':$('#type').val(),
                          'unit':$('#unit').val(),
                          'person':$('#person').val(),
                          'date':$('#date').val(),
                          'csrfmiddlewaretoken':'{{ csrf_token }}'
                      },
                      success:function (args){
                          if(args.code===101)
                          {
                             swal('提交成功!','', "success");
                             $('#name').val('');
                             $('#count').val('');

                             $('#factory').val('');

                             $('#type').val('');

                             $('#unit').val('');

                             $('#person').val('');

                             $('#date').val('');
                          }
                          else
                          {
                              swal(args.msg,'','error');
                          }
                      }
                  })
              } else {
                swal("取消成功!","", "error");
              }
            });
        })
    </script>
{% endblock %}